body{
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGJsdXUlMjB3aGl0ZXxlbnwwfHx8fDE2ODQ5NTY1NzE&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: white;
    font-size: 50px;
    margin-top: 20px;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}
p{
    color: white;
    font-size: 20px;
}
